{% extends 'bootstrap/base.html' %}

<!-- custom base template for the flask application to ensure that all pages follow a similar
 structure. Extends the bootstrap base template to be able to easliy style the website
 using flask bootstrap. You can find the current bootstrap base template in the reference
 folder. Be aware that changes to that file won't do a thing, it's just to understand which
 elements are already in there to be able to write proper html -->

<!-- html attributes -->
{% block html_attribs %} lang="en"{% endblock html_attribs %}

<!-- inserting the title, can be overridden in single page templates -->
{% block title %}CNTCT - Simply Contacts{% endblock %}

<!-- setting meta attributes for the whole page -->
{% block metas %}
	<meta charset="utf-8">
{% endblock %}

<!-- setting styles and scripts that have to be placed in the <head>-element of the page -->
{%- block styles %}
	<!-- Bootstrap CCS CDN -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
	<!-- jQuery for Bootstrap -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{%- endblock styles %}

{% block body %}
<!-- navigation bar / header of the homepage -->
{% block navbar %}
<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('main.home') }}">CNTCT</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapsed-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('main.home') }}">Home</a></li>
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('entry.contacts') }}">Contacts</a></li>
				<li><a href="{{ url_for('entry.profile') }}">Profile</a></li>
				{% endif %}
				{% if not current_user.is_authenticated %}
				<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
				<li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
				{% endif %}
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

<!-- container for flashed messages for example when enterin wrong credentials -->
{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}

		<!-- here goes the page body -->
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}

<!-- scripts for the end of the <body>-tag -->
{% block scripts %}
	<!-- Bootstrap CDN Support -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
{%- endblock scripts %}
{% endblock body %}
</html>
