{% extends "base.html" %}

{% block app_content %}
<h1>Contacts</h1>
<h2>Add contact</h2>

<form method="POST" action='./add'>
    {{ add_contact.user_id(value=current_user.id) }}
	<p>
		{{ add_contact.first_name.label }}<br>
		{{ add_contact.first_name(size=64) }}
	</p>
	<p>
		{{ add_contact.last_name.label }}<br>
		{{ add_contact.last_name(size=64) }}
	</p>
	<p>{{ add_contact.add_contact() }}</p>

</form>

<h2>List of Contacts</h2>
{% for contact in contacts %}
  <p>{{contact.first_name}} {{contact.last_name}}</p>

  <form method='POST' action='./update'>
	  {{ update_contact.contact_id(value=contact.contact_id) }}
	  {{ update_contact.old_fn(value=contact.first_name) }}
	  {{ update_contact.old_ln(value=contact.last_name) }}
	  {{ update_contact.new_fn(value=contact.first_name, size=64) }}
	  {{ update_contact.new_ln(value=contact.last_name, size=64) }}
	  {{ update_contact.update_contact() }}
  </form>

  <p>
  <form method='POST' action='./delete'>
	  {{ delete_contact.contact_id(value=contact.contact_id) }}
	  {{ delete_contact.delete_contact() }}
  </form>
  </p>

{% endfor %}
{% endblock %}