{% extends "base.html" %}

<!-- custom template for the page 'Home' that displays a description fo the app -->

{% block metas %}
<meta title="CNTCT - Simply Contacts - Home">
{% endblock %}

{% block app_content %}
<h1>Home</h1>
  <h2>Welcome to CNTCT!</h2>
    <p>
	  A simple and easy to use solution to store all of your personal contacts and share them with family
	  members, colleagues to leave a lasting impression.
    </p>
    <p>
	  Please be aware that this website is a beginners project to familiarize myself with python, Flask and the
	  surrounding technologies. It is by far not a production ready and finished project as i will amend and
	  optimise the page over time. You can find the corresponding GitHub-repository here:
	<a href="https://github.com/soundscapehd/cntct_dev" target="_blank">https://github.com/soundscapehd/cntct_dev</a>
    </p>
{% endblock %}