{% extends "base.html" %}

{% block app_content %}
<h1>Log In</h1>

<form action="/login" method="POST">
	{{ form.hidden_tag() }}
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=64) }}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=64) }}
	</p>
	<p>
		{{ form.remember_me() }} {{ form.remember_me.label }}
	</p>
	<p>{{ form.submit() }}</p>

</form>
<!--
	<form method="POST" action="/login">
	<p>Emailaddress:</p>
	<input type="email" name="email" placeholder="Your Email" autofokus="">
	<p>Password:</p>
	<input type="password" name="password" placeholder="Your Password">
	<input type="submit" value="Log In">
	<input type="checkbox", name="remember">Remember me
	</form>
-->
{% endblock %}