{% extends "base.html" %}

<!-- custom template for the page 'Log In' with a WTForm for a user to input their log in credentials and
send the request to the backend for verification. After successful verification the user is redirected
 to his contacts page. -->

{% block metas %}
<meta title="CNTCT - Log In">
{% endblock %}


{% block app_content %}
<h1>Log In</h1>

<form action="/login" method="POST">
	{{ form.hidden_tag() }}
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=64) }}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=64) }}
	</p>
	<p>
		{{ form.remember_me() }} {{ form.remember_me.label }}
	</p>
	<p>{{ form.submit() }}</p>

</form>
{% endblock %}