{% extends "base.html" %}

<!-- custom template for the page 'Sign In' with a WTForm for a user to input their credentials in order to sign up
 for the app and send the request to the backend for verification. After successful verification
  tthe user is redirected to the log in page. -->

{% block metas %}
<meta title="CNTCT - Sign Up">
{% endblock %}

{% block app_content %}
<h1>Sign Up</h1>

<form action="/signup" method="POST">
	{{ form.hidden_tag() }}
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=64) }}
	</p>
	<p>
		{{ form.name.label }}<br>
		{{ form.name(size=64) }}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=64) }}
	</p>
	<p>{{ form.submit() }}</p>

</form>

{% endblock %}