{% extends "base.html" %}

{% block app_content %}
<h1>Sign Up</h1>

<form action="/signup" method="POST">
	{{ form.hidden_tag() }}
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=64) }}
	</p>
	<p>
		{{ form.name.label }}<br>
		{{ form.name(size=64) }}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=64) }}
	</p>
	<p>{{ form.submit() }}</p>

</form>
<!--
<form method="POST" action="/signup">
	<p>Emailaddress:</p>
	<input type="email" name="email" placeholder="Your Email" autofokus="">
	<p>Name:</p>
	<input type="text" name="name" placeholder="Your Name" autofokus="">
	<p>Password:</p>
	<input type="password" name="password" placeholder="Your Password">
	<input type="submit" value="Sign Up">
</form>
-->

{% endblock %}